.catalog_subsections_list .section_list__col {
	height: 250px;
}

.catalog_subsections_list .section_list__col h3 {
	padding-bottom: 24px;
	margin-bottom: 23px;
	border-bottom: 1px solid #dfdfdf;
	text-align: center;
}