.main-wall {
  z-index: 6;
  position: relative;
}

.main-wall__heading {
  z-index: 2;
}

.logistic-page .group-title {
  margin-bottom: 10px;
}
.logistic-page__calc_subtitle {
  display: flex;
  color: #f09224;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.logistic-page {
  margin-top: 70px;
  margin-bottom: 0;
  top: 0;
}

.logistic-main-title {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 350px;
  gap: 20px;
}

.logistic-about .advantages {
  grid-template-columns: repeat(5, 1fr);
}

.logistic-about .group-title {
  display: flex;
}

.logistic-shipping {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.how-to-use-calc {
  width: 100%;
  height: 430px;
  border-radius: 15px;
  border: 1px solid #f09123;
  background-color: black;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.how-to-use-calc__img {
  width: 100%;
}
.how-to-use-calc__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.how-to-use-calc__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.how-to-use-slider__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-to-use-slider .swiper {
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
}

.how-to-use-slider .swiper-slide {
  display: flex;
  width: 70%;
}

.how-to-use-slider__item {
  object-fit: cover;
  height: 200px;
  border-radius: 10px;
  border: 1px solid white;
}

.how-to-use-slider .swiper-button-next,
.how-to-use-slider .swiper-button-prev {
  position: static;
  margin: 0 5px;
  font-size: 10px;
  width: 38px;
  height: 38px;
  background-color: #2f3743;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-to-use-slider .swiper-button-next::after,
.how-to-use-slider .swiper-button-prev::after {
  font-size: 16px;
  color: white;
}

.how-to-use-slider .swiper-button-next,
.how-to-use-slider .swiper-rtl .swiper-button-prev {
  right: -40px;
}

.how-to-use-slider .swiper-button-prev,
.how-to-use-slider .swiper-rtl .swiper-button-next {
  left: -40px;
}

.how-to-use-slider .swiper-pagination {
  width: auto;
  padding: 15px 20px;
  background-color: #2f3743;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
}

.how-to-use-slider .swiper-pagination-bullet {
  background-color: #d9d9d9;
  opacity: 1;
}

.how-to-use-slider .swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 5px;
}

.how-to-use-slider .swiper-slide {
  display: flex;
}

.block-banner {
  height: 700px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.block-banner__top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 15px;
}

.block-banner #block-banner__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-banner__offer {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  text-align: center;
}

.block-banner__title {
  margin-bottom: 10px;
}

.block-text {
  font-weight: 400;
  line-height: 144%;
  font-size: 16px;
  color: #ffffff;
}

.block-banner .btn-href {
  margin-top: 30px;
}

.block-banner__top a,
a:visited {
  text-decoration: none;
}

.block-banner__points {
  width: calc(100% - 400px);
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  transform: translateX(-50%);
  pointer-events: none;
}

.block-banner__points .point-item {
  position: absolute;
  pointer-events: none;
  z-index: 20;
}

.block-banner__points .point-item__dot {
  pointer-events: auto;
  width: 20px;
  cursor: pointer;
}

.service-balloon-position0 {
  top: 10%;
  left: -4%;
}

.service-balloon-position1 {
  top: 64%;
  left: 89%;
}

.service-balloon-position2 {
  top: 20%;
  left: 80%;
}

.service-balloon-position3 {
  top: 77%;
  left: 65%;
}

.block-banner__points .point-item__dot .dot {
  box-shadow: 0 0 0 0 rgba(240, 145, 35, 0.7), inset 0 1px 0 #f09123;
  animation: pulse 2.5s infinite cubic-bezier(0.6, 0, 0, 1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f09123;
  position: relative;
}

.block-banner__points .point-item__dot .dot::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.block-banner__points .point-item__dot:hover + .point-item__body {
  opacity: 1;
  pointer-events: auto;
}

.block-banner__points .point-item__dot:hover {
  width: 60px;
}

.block-banner__points .point-item__body:hover {
  opacity: 1;
  pointer-events: auto;
}

.block-banner__points .point-item__body {
  opacity: 0;
  border-radius: 25px;
  background: #0e0e0e;
  padding: 20px;
  width: 300px;
  pointer-events: none;
  top: -15px;
  left: 30px;
  position: absolute;
  transition: opacity 0.4s ease;
}

.block-banner__points .point-item__name {
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 120%;
}

.block-banner__points .point-item__description {
  font-size: 12px;
  line-height: 150%;
}

.btn-main {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  padding: 15px 35px;
  width: max-content;
  background: #f09123;
  max-width: 100%;
  font-style: normal;
  transition: color 0.3s ease;
  white-space: nowrap;
  border-radius: 25px;
  color: #231f20;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-main svg {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.btn-main svg path {
  transition: stroke 0.3s ease;
}

.btn-main:hover {
  color: #e8e8e8;
}

.btn-main:hover svg path {
  stroke: #e8e8e8;
}

.block-mainServices__title {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 10vw;
}

.block-mainServices__body {
  width: 100%;
  position: sticky;
  top: 0;
  min-height: 100vh;
  height: 100vh;
  max-width: 100vw;
}

.block-mainServices__swiper {
  height: 100%;
}

.block-mainServices__swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

.mainService-item {
  display: flex;
  height: 100%;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__offer {
  min-width: 380px;
  max-width: 380px;
  position: relative;
  left: 10vw;
  z-index: 15;
  padding-bottom: 15px;
  margin-top: 140px;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__name {
  margin-bottom: 30px;
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.block-mainServices__swiper .swiper-wrapper .swiper-slide {
  overflow: hidden;
  height: 100%;
  opacity: 0 !important;
}

h2.block-title {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__description {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 350;
  line-height: 150%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__btn {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  font-weight: 500;
  width: max-content;
  padding-right: 16px;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__btn
  svg {
  min-width: 24px;
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
  margin-right: 5px;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__btn:hover {
  opacity: 0.8;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__bg {
  display: flex;
  width: auto;
  flex-wrap: nowrap;
  padding-left: 1500px;
  padding-right: 400px;
  margin-top: auto;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__image {
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.block-mainServices__swiper
  .swiper-wrapper
  .swiper-slide
  .mainService-item__image
  img {
  object-fit: contain;
  display: block;
  object-position: right center;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  height: 100%;
  margin-right: auto;
  width: unset;
}

.block-mainServices__navigations {
  margin-bottom: 30px;
  margin-top: 30px;
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  grid-column-gap: 30px;
  position: absolute;
  right: 10vw;
  top: 0;
}

.block-mainServices__navigations .navigations__left {
  color: #848484;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
}

.block-mainServices__navigations .navigations__left .current-number {
  color: #f2f2f2;
}

body .navigations {
  display: flex;
  align-items: center;
}

body .navigations .swiper-button-prev,
body .navigations .swiper-button-next {
  position: static;
  margin: 0;
  transition: background 0.3s ease;
  width: 50px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #828282;
  border-radius: 50%;
}

body .navigations .swiper-button-prev:hover,
body .navigations .swiper-button-next:hover {
  border: 1px solid #f09123;
  background: #f09123;
}

body .navigations .swiper-button-prev:hover svg path,
body .navigations .swiper-button-next:hover svg path {
  stroke: #231f20;
}

body .navigations .swiper-button-prev::after,
body .navigations .swiper-button-next::after {
  display: none;
}

body .navigations .swiper-button-prev svg,
body .navigations .swiper-button-next svg {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: unset;
  height: unset;
}

body .navigations .swiper-button-prev svg path,
body .navigations .swiper-button-next svg path {
  transition: stroke 0.3s ease;
}

.block-mainServices__navigations .navigations__right {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.block-mainServices__navigations .swiper-pagination {
  position: static;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-5px); /* Начальное положение */
  }
  /*50% {*/
  /*    transform: translateY(-5px); !* Положение вверх *!*/
  /*}*/
  100% {
    transform: translateY(5px); /* Положение вниз */
  }
}

.arrow-animation {
  animation: moveUpDown 0.5s infinite alternate; /* Анимация будет повторяться бесконечно */
}

.iframe-wisetao {
  width: 100%;
  height: 680px;
  border-radius: 15px;
  border: 1px solid #f09123;
}

.iframe-wisetao-about {
  width: 100%;
  height: 530px;
  border-radius: 15px;
  border: 1px solid #ffffff40;
}

@media (min-width: 992px) {
  .block-banner__points .point-item__dot:hover .dot {
    animation: none;
  }
}

@media (max-width: 1200px) {
  .block-mainServices__navigations .swiper-pagination {
    font-size: 30px;
  }

  .logistic-page {
    margin-top: 0;
  }

  .block-mainServices__swiper
    .swiper-wrapper
    .swiper-slide
    .mainService-item__offer {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    min-width: calc(100% - 100px);
  }

  .block-mainServices__title {
    font-size: 35px;
    left: 20px;
  }

  .logistic-shipping {
    width: 100%;
  }

  .block-mainServices__swiper
    .swiper-wrapper
    .swiper-slide
    .mainService-item__image {
    width: 90%;
  }

  .block-mainServices__swiper
    .swiper-wrapper
    .swiper-slide
    .mainService-item__name {
    font-size: 24px;
  }

  .block-mainServices__navigations {
    margin-left: 20px;
  }

  .main-wall {
    z-index: 5;
  }

  .block-banner {
    min-height: auto;
    height: max-content;
  }
  .block-banner__top {
    position: relative;
    padding: 80px 15px;
    height: 50vh;
  }
  .block-banner__points {
    margin-top: 40px;
    width: 100%;
    max-width: 85%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .block-banner__points .point-item {
    position: static;
    display: flex;
    align-items: flex-start;
  }
  .block-banner__points .point-item__dot {
    margin-right: 10px;
  }
  .block-banner__points .point-item__dot:hover {
    width: 20px;
  }
  .block-banner__points .point-item__body {
    width: 100%;
    position: static;
    opacity: 1;
    z-index: 10;
    padding: 0;
  }

  .logistic-blog__block {
    grid-template-columns: 1fr;
  }

  .main-wall__heading_first {
    font-size: 22px;
  }

  .main-wall__heading_second {
    font-size: 44px;
  }

  .main-wall__heading_text {
    font-size: 14px;
  }

  .main-wall {
    z-index: 1;
    height: auto;
    position: initial;
  }

  .logistic-about .advantages {
    grid-template-columns: 1fr 1fr;
  }

  .logistic-about .group-title {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .block-mainServices__title {
    left: 0;
  }

  .block-mainServices__navigations {
    margin: 0;
  }
  .logistic-shipping {
    position: initial;
    margin: 0;
    overflow: hidden;
  }
  .btn-main {
    padding: 10px 20px;
  }
  .block-mainServices {
    margin-bottom: 40px;
    padding-top: 40px;
  }
  .block-mainServices__body {
    padding-top: 0px;
    position: static;
    min-height: 100%;
  }
  .block-mainServices__swiper
    .swiper-wrapper
    .swiper-slide
    .mainService-item__offer {
    padding-top: 0;
    left: 0;
    transform: inherit;
    max-width: 90%;
    min-width: auto;
  }
  .block-mainServices__swiper
    .swiper-wrapper
    .swiper-slide
    .mainService-item__bg {
    padding: 0 !important;
    width: 100%;
    justify-content: flex-end;
  }
  .block-mainServices__swiper
    .swiper-wrapper
    .swiper-slide
    .mainService-item__bg
    img {
    height: auto;
    min-height: 150px;
    /*margin-left: auto;*/
    /*margin-right: 0px;*/
  }
  .block-mainServices__swiper::after {
    display: none;
  }
  .mainService-item {
    flex-direction: column;
  }
  .block-mainServices__navigations {
    position: static;
  }
  .block-mainServices__body {
    height: auto;
  }
  .logistic-main-title {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .iframe-wisetao {
    height: 400px;
  }
  .iframe-wisetao-about {
    height: 400px;
  }

  .block-mainServices__title {
    font-size: 30px;
  }
  .block-mainServices__swiper
    .swiper-wrapper
    .swiper-slide
    .mainService-item__name {
    font-size: 20px;
  }

  .block-mainServices__swiper
    .swiper-wrapper
    .swiper-slide
    .mainService-item__description
    h3 {
    font-size: 18px;
  }
  .block-banner__points {
    flex-direction: column;
    grid-gap: 0;
    max-width: 95%;
    display: none;
  }
  .block-banner__points .point-item {
    margin-bottom: 20px;
  }
  .block-banner__points .point-item:last-child {
    margin-bottom: 0;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 23px rgba(240, 145, 35, 0), inset 0 1px 0 #f09123;
  }
}
